a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_49364a9 { vertical-align: top; position:relative; display: inline-block; float:left; width:100%; min-height:872px; background-color:#29B2F4; background: linear-gradient(to bottom, #6AB600, #29B2F4);  }
#container_49364a9_padding { margin: 10px; display: block;  }
#text_54a1c552 { position:absolute; left:33%; top:1%; width:467px; height:71px; background:none;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:44pt; font-family:'Minecrafter Alt'; color:#000000;  }
#img_f645165 { position:absolute; left:2%; top:14%; width:20%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235); height:auto;  }
#text_5d6e8fc5 { position:absolute; left:26%; top:15%; width:208px; height:268px; background:none;  }
.textstyle4 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_64f37254 { position:absolute; left:44%; top:17%; width:212px; height:372px; background:none;  }
#youtube_65b495a2 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:115%; height:170px; background-color:#D1D1D1; border: 1px solid #A0A0A0; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
.textstyle5 { font-size:6pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_49ec4bae { position:absolute; left:29%; top:68%; width:522px; height:172px; background:none;  }
#img_6530c995 { position:absolute; left:67%; top:13%; width:28%; background:none; height:auto;  }
#text_11b4f6cd { position:absolute; left:67%; top:37%; width:264px; height:236px; background:none;  }
#img_276db422 { position:absolute; left:1%; top:68%; width:27%; background:none; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235); height:auto;  }
